@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.container {

  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.div_containts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

.contents {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px;


}

input {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 98%;
  height: 40px;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
  outline: none;
}

input::placeholder {
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;


}

button {
  position: absolute;

  left: 81%;
  top: 4px;

  width: 75px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 36px;
  border-radius: 5px;

}

button:hover {
  background: rgba(83, 76, 76, 0.1);
  cursor: pointer;
}

.menu {
  position: relative;
  width: 100%;
}

.locale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  border: 2px solid rgb(239, 238, 240);
}

.locale:hover {
  background: rgba(138, 118, 118, 0.1);
  cursor: pointer;
}

.emplacement {
  width: 60px;
  animation: pulse 1.5s infinite alternate-reverse;
}

@keyframes pulse {
  to {
    opacity: 1;
    color: rgb(10, 219, 226);

  }
}